<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../style.css">
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Arthur Bricq</title>
		<meta name="description" content="Arthur Bricq's personal website.">
		<meta name="author" content="Arthur Bricq">
		<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
		<script>hljs.highlightAll();</script>
	</head>

	<body>
		<!--Header section that is dynmically loaded-->
		<div id="header_container" class="header_container"></div>
		<article>
			<div id="content">
			</div>
		</article>
	</body>
</html>
