<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="style.css">
<!--<html lang="en">-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Arthur Bricq — Software Engineer</title>
		<meta name="description" content="Arthur Bricq, software engineer from the world of robot localization, at ease with C++, Java and Python.">
		<meta name="author" content="Arthur Bricq">
	</head>
	<body>
		<!--Header will be loaded here-->
		<div id="header_container" class="header_container"></div>

		<article>

			<h1>Welcome to my personal website</h1>
			<div class="image_container">
				<img src="images/arthur1.jpeg" style="width: 30%;"/>
			</div>

			<div id="markdown_container">
			</div>

		</article>

	</body>
</html>