<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="style.css">
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<!--This is for equations-->
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
		<title>Portfolio — Arthur Bricq</title>
		<meta name="description" content="A selection of Arthur Bricq's personal software projects.">
		<meta name="author" content="Arthur Bricq">
	</head>
	<body>
		<div id="header_container" class="header_container"></div>

		<article>
			<h1>Personal Projects</h1>

			<p>Here, you will find some of my personal projects.</p>

			<p>Programming has always been a hobby for me, and since pretty much always I have enjoyed working on sides projects. I am not sure why I like so much to spend time on these projects, I know of course that most likely nobody will ever use them, but I guess that I just like to build things with computers. I also really like Rust and C++. And I like to learn about topics that I don't know. Oh, and I like chess engines too.</p>

			<p>So here's a little list with links to my repos !</p>

			<div id="projects_list">
			</div>

			<div id="projects_section">
			</div>
		</article>

	</body>
</html>
