<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="style.css">
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Writing — Arthur Bricq</title>
		<meta name="description" content="Articles and notes written by Arthur Bricq.">
		<meta name="author" content="Arthur Bricq">
	</head>
	<body>
		<div id="header_container" class="header_container"></div>

		<article>
			<h1>Some things I've written</h1>
			<div id="article_list">
			</div>
		</article>

	</body>
</html>
